@* @model dynamic *@
@* *@
@* <div class="content-wrapper"> *@
@*     <div class="row"> *@
@*         <div class="col-lg-6 grid-margin stretch-card"> *@
@*             <div class="card"> *@
@*                 @await Html.PartialAsync("~/Manage/Views/Service/Index.cshtml", Model.Services) *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
